:root {
/* fonts */
--main-font: font-family: 'Roboto', sans-serif;
    
--secondary-font: font-family: 'Raleway',sans-serif;
/* text-colors */
--main-text-color: rgba(117, 117, 117, 1);
--headline-text-color: rgba(33, 33, 33, 1);
--link-hover-text-color: rgba(33, 150, 243, 1);
--main-text-color: #212121;
/* bg-colors */
--nav-bg-color: #FFFFFF;
--section-footer-bg-color: rgba(47, 48, 58, 1);
--teammates-section-bg-color: rgba(245, 244, 250, 1);
/* others */
}

/* Base */
body{
    font-family: var(--main-font);
    color: var(--main-text-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/* header-style */
.header{
    background-color: var(--nav-bg-color);
}

/* logo-style */
    .logo-link{
    font-family: var(--secondary-font);
    color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    }
    .logo-particle{
        color: var(--link-hover-text-color);
    }
    /* navigation menu list */
    
    .navigation-menu-link:hover,
    .navigation-menu-link:focus,
    .navigation-contacts-link:hover,
    .navigation-contacts-link:focus {
        color: var(--link-hover-text-color);
    }
    
    .navigation-menu-list{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
    }
    .navigation-contacts-list{
            font-family: 'Roboto';
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
    }

    /* main */
    .business-service-section{
        background-color: var(--section-footer-bg-color);
    }
    .business-service-headline{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--nav-bg-color);
    }
    .business-service-button{
        cursor: pointer;
        background-color: var(--link-hover-text-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: var(--nav-bg-color);
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    }

    /* Strengths-section */
.strengths-group-headline{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--headline-text-color);
    }
.strengths-group-subtext{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
}